<!DOCTYPE html><!--HTML5-->
<html lang="ja">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</head>

<body>
    <div class="col-4">
        <h2>専門家の意見</h2>
        <p>
            <%= message %>
        </p>

        <% if (message2) { %>
            <div class="alert alert-success">
                <%= message2 %>
            </div>
            <% } %>

                <% if (session.selectedSource==="fish" ) { %>
                    <img src="images/person_fish.png" width="200" height="200">
                    <% } else if (session.selectedSource==="vegetables" ) { %>
                        <img src="images/person_vegetables.png" width="200" height="200">
                        <% } %>

                            <h3>食べたいものを入力してください</h3>
                            <form action="/contact_staff" method="post">
                                <input type="text" name="food_id" placeholder="食べ物を入力">
                                <button type="submit">送信</button>
                            </form>

                            <div><button type="button" class="btn btn-outline-primary"
                                    onclick="window.location.href='/#home'">HOMEに戻る</button></div>
    </div>

</body>

</html>