<nav>
    <a href="http://localhost:3000/#home">HOME</a>
    <a href="http://localhost:3000/#about">プロタグ</a>
    <a href="http://localhost:3000/#contact">地図</a>
    <a href="http://localhost:3000/recipes">レシピ</a>
</nav>
<h2>📚 レシピ図鑑</h2>
<div class="row row-cols-2 g-3">

</div>