<!DOCTYPE html><!--HTML5-->
<html lang="ja">

<head>
    <meta name="description" content="サイトの概要を記載">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
    <!--ゲームの流れの説明文-->
    <h1>Gama Flow</h1>
    <ol>
        <li>Player Characterが食べたいものを教えてくれる：かまぼこ</li>
        <li>その食べ物の専門屋さんへ行く：魚屋さん</li>
        <li>専門屋さんの自己紹介を聞く。何が欲しいの？と聞かれる</li>
        <li>Player Characterに言われたものを入力する：かまぼこ</li>
        <li>専門屋さんの選択があっていたのか返答が来る</li>
        <li>指示どうりに材料を取りに行く：かまぼこが欲しいのなら魚と金槌を持ってきてね。</li>
        <li>川から魚を、家から金槌を持って来る</li>
        <li>材料を渡し、作ってもらう</li>
        <li>作ってもらった食べ物をPlayer Characterに渡す</li>
        <li>お礼を言われてミッションクリア</li>
    </ol>

    <!--ゲームのスタート設定-->
    <h1>Gama Screen</h1>
    <div><input onclick="start()" type="submit" value="ゲームスタート"></div>

    <!--主人公-->
    <div>
        <h2>Player Character</h2>
        <img onclick="increment()" src="static/images/Character.png" width="100" , height="100" />
        <p id="character_demand" /p>
    </div>

    <h2>Expert Staff</h2>
    <div class="expert_staff">
        <div><!--魚屋さん-->
            <img onclick="person_fish()" src="static/images/person_fish.png" width="100" height="100" />
        </div>
        <div>
            <img onclick="person_vegetables()" src="static\images\person_vegetables.png" width="100" height="100" />
        </div>
    </div>



    <!--何が欲しいか入力-->
    <div>
        <h2>My Opinion</h2>
        <form method="POST" action="/contact_staff">
            <label for="food_id">ここに欲しいものを入力して:</label>
            <input id="food_id" name="food_id" placeholder="食べ物の名前" type="text">
            <button type="submit" class="btn btn-primary">決定</button>
        </form>
        {% if food_id %}
        <p>{{food_id}}</p>
        {% endif %}
        <!---->
    </div>

    <p>カウント：<span id="count">0</span></p>
    <button onclick="resetCount()">リセット </button>

    <form method="POST" action="/submit">
        <select class="select" name="food">
            {% for food in food_options %}
            <option value="{{ food }}">{{ food }}</option>
            {% endfor %}
        </select>
        <div><input type="submit" value="決定"></div>
    </form>
    {% if food %}
    <p>選択された食べ物：{{food}}</p>
    {% endif %}

    <script>
        async function updateCount() {
            const response = await fetch("/count");
            const data = await response.json();
            document.getElementById("count").innerText = data.count;
        }
        async function increment() {
            const response = await fetch("/increment", { method: "POST" });
            const data = await response.json();
            document.getElementById("count").innerText = data.count;
        }
        async function resetCount() {
            const response = await fetch("/reset", { method: "POST" });
            const data = await response.json();
            document.getElementById("count").innerText = data.count;
        }

        function person_fish() {
            fetch('/contact_staff', { method: 'GET' })
                .then(response => response.text())
                .then(data => document.getElementById("talk").innerHTML = data);
            window.location.href = "/contact_staff";  // ページ遷移する
        }

        function person_vegetables() {
            fetch('/ask_person_vegetables', { method: 'POST' })
                .then(response => response.text())
                .then(data => document.getElementById("talk").innerText = data);
        }
        function start() {
            fetch('/start', { method: 'POST' })
                .then(response => response.text())
                .then(data => document.getElementById("character_demand").innerText = data);
        }
    </script>
</body>

</html>