<!DOCTYPE html><!--HTML5-->
<html lang="ja">

<head>
    <meta name="description" content="サイトの概要を記載">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>

<body>
    <div id="view-container"></div>

    <!--ゲームの流れの説明文-->
    <h1>Game Flow</h1>
    <ol>
        <li>Player Characterが食べたいものを教えてくれる：かまぼこ</li>
        <li>その食べ物の専門屋さんへ行く：魚屋さん</li>
        <li>専門屋さんの自己紹介を聞く。何が欲しいの？と聞かれる</li>
        <li>Player Characterに言われたものを入力する：かまぼこ</li>
        <li>専門屋さんの選択があっていたのか返答が来る</li>
        <li>指示どうりに材料を取りに行く：かまぼこが欲しいのなら魚と金槌を持ってきてね。</li>
        <li>川から魚を、家から金槌を持って来る</li>
        <li>材料を渡し、作ってもらう</li>
        <li>作ってもらった食べ物をPlayer Characterに渡す</li>
        <li>お礼を言われてミッションクリア</li>
    </ol>

    <!--ゲームのスタート設定-->
    <h1>Game Screen</h1>
    <div>
        <input onclick="startAndReset()" type="submit" value="ゲームスタート">
    </div>
    <!--主人公-->
    <div>
        <h2>Player Character</h2>
        <img onclick="increment()" src="static/images/character.png" width="100" , height="100" />
        <p id="character_demand"></p>
    </div>

    <!--何が欲しいか入力-->
    <div>
        <h2>My Opinion</h2>
        <form method="POST" action="/contact_staff">
            <input type="hidden" name="source" id="source_input">
            <label for="food_id">ここに欲しいものを入力して:</label>
            <input id="food_id" name="food_id" placeholder="食べ物の名前" type="text">
            <button type="submit" class="btn btn-primary">決定</button>
        </form>
        {% if food_id %}
        <p>{{ food_id }}</p>
        {% endif %}
        <!---->
    </div>

    <!--専門店のスタッフ-->
    <h2>Expert Staff</h2>
    <div class="expert_staff">
        <div>
            <a href="/contact_staff?source=fish"><img onclick="person_fish()" src="static/images/person_fish.png"
                    width="100" height="100" /></a>

        </div>
        <div>
            <a href="/contact_staff?source=vegetables"><img onclick="person_vegetables()"
                    src="static/images/person_vegetables.png" width="100" height="100" /></a>
        </div>
    </div>

    <h2>Discovery Spot</h2>
    <a href="/finding_things?source=house">
        <img src="static/images/house.png" width="100" height="100">
    </a>

    <a href="/finding_things?source=tree">
        <img src="static/images/tree.png" width="100" height="100">
    </a>

    <a href="/finding_things?source=submarine">
        <img src="static/images/submarine.png" width="100" height="100">
    </a>

    <h2>Chef</h2>
    <a href="/chef"><img onclick="chef()" src="static/images/chef.png" width="100" height="100" /></a>

    <p>カウント：<span id="count">0</span></p>
    <button onclick="resetCount()">リセット </button>


</body>

</html>